.navbar {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background-color: #4a0072;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navbar a:hover {
    color: #ff00ff;
  }
  